
.header_logo{
    height: 58px;
    width: 146px;
}

.cat_input{
    float: left;
    display: block;
}

#date1, #date2 {
    margin-left: 5px;
}

#myMap {
    height: 550px;
    width: 900px;
    float: right;
    border: 1px solid #ccc;
    padding: 10px;
}

.scrollable {
    height: 150px;
    width: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    float: left;
}

.chosen_text{
    height: 200px;
    width: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    float: left;
}

.left_side{
    display: inline;
    float: left;
}