{% extends 'temp.html'%}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<h1>О проекте</h1>
<p style="margin-top:32px;">
    Приложение "Place in text" собирает по запросу пользователя данные о статьях,
    опубликованных когда-либо на новостном сайте Lenta.ru, и отображает геообъекты, обнаруженные
    в тексте статей, на карте, а также выводит их координаты.
    <br><br>
    Как использовать:
    <ol>
    <li>Во вкладке "Фильтр" выбрать временной диапазон запроса;</li>
    <li>(Опциально) Выбрать, будет результат упорядочен по алфавитному порядку геообъектов или по датам;</li>
    <li>
        Нажать кнопку "Поиск" и больше не совершать каких-либо действий, загрузка записей с базы данных
        может занять какое-то время;
    </li>
    <li>
        Во вкладке "Результат запроса" можно выбрать интересующую запись и нажать на нее, таким образом текст статьи
        загрузится во вкладку "Текст статьи", геометка обнаруженного объекта отобразится в центре карты (вкладка
        "Карта"), а также во вкладке "Координаты объекта" отобразятся координаты объекта;
    </li>
    <li>
        Во вкладке "Карта" можно повзаимодействовать с интерактивной картой: посмотреть на положение метки на карте,
        покрутить карту и изменить ее масштаб.
    </li>
    </ol>
    Примечания:
    <ol>
        <li>
            По умолчанию приложение сортирует статьи по датам, но, поставив галочку "Упорядочить по местоположению?",
            можно отсортировать статьи по алфавитному порядку геообъектов (при этом в рамках одного геообъекта
            также будет сортировка по датам);
        </li>
        <li>
            API Nominatim работает так, что на принятый им запрос он вернет самый первый результат, даже если он
            не соответсвует оригинальной статье;
        </li>
        <li>
            Некоторые из геообъектов могли быть обнаружены неверно, или использованное API геокодера может не найти
            выбранный геообъект (или найти не тот объект). На это влияет цепочка несовершенств:
            <ul>
                <li>Несовершенство редактирования оригинальных статей;</li>
                <li>Несовершенство собранного датасета;</li>
                <li>Несовершенство использованной ML-модели Natasha (точность составила около 95%);</li>
                <li>
                    Несовершенство использованного API геокодера Nominatim (ручная отладка запросов показала,
                    что некоторые записи устаревшие, некоторые записи не распознаются на русском языке,
                    а некоторые записи не соответствуют целевым).
                </li>
            </ul>
            С ними на данном этапе существования проекта ничего не поделать, но можно хотя бы ознакомиться с текстом
            оригинальной статьи и выяснить, на каком звене вышеописанной цепочки приложение захлебнулось.
        </li>
    </ol>
    Стек:
    <ul>
        <li>
            WEB:
            <ul>
                <li><b>Flask</b> - основа приложения;</li>
                <li><b>Werkzeug</b> - WSGI составляющая Flask;</li>
                <li><b>HTML + CSS + Bootstrap</b> - статическая часть страниц;</li>
                <li><b>JS + jQuery + Ajax</b> - динамическая часть страниц;</li>
                <li><b>JavaScript API</b> - API сервиса Яндекс.Карты для отображения меток на карте;</li>
                <li><b>Nominatim API</b> - API сервиса Nominatim для преобразования геообъектов в координаты;</li>
            </ul>
        </li>
        <li>
            БД:
            <ul>
                <li><b>PostgreSQL</b> - используемая СУБД;</li>
                <li><b>SQLAlchemy</b> - библиотека для подключения БД к приложению;</li>
            </ul>
            ML:
            <ul>
                <li>
                    <b>Natasha</b> - Python-фреймворк для NLP-задач на русском языке
                    (здесь используется для обнаружения геообъектов).
                </li>
            </ul>
        </li>
    </ul>
</p>
{% endblock %}
