{% extends 'temp.html'%} {% block title %} Главная страница {% endblock %} {%
block script %}
<!-- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> -->
<script src="https://api-maps.yandex.ru/2.0-stable/?apikey=5595cc61-5dc4-4943-bc23-3bbc15bd35c5&load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
  ymaps.ready(init);
  var myMap;
  function init(coord=[55.76, 37.64]) {
    myMap = new ymaps.Map("myMap", {
      center: coord,
      zoom: 8,
    });

    myMap.behaviors.enable('scrollZoom', {
      maximumDelta: 1,
      speed: 1
    });

    myMap.controls.add('zoomControl', {
      size: 'small',
      zoomDuration: 100
    });

    var myPlaceMark = new ymaps.Placemark(coord, {
      iconContent: ' ', // текст на иконке
    }, {
      present: 'twirl#redStretchyIcon' // тип иконки
    });
    myMap.geoObjects.add(myPlaceMark);
  }

  function update(coords) {
    myMap.geoObjects.each(function(context) {
      myMap.geoObjects.remove(context);
    });
    myMap.setCenter(coords);
    var myPlaceMark = new ymaps.Placemark(coords, {
      iconContent: ' ', // текст на иконке
    }, {
      present: 'twirl#redStretchyIcon' // тип иконки
    });
    myMap.geoObjects.add(myPlaceMark);
  }

</script>
{% endblock%} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col">
          <div class="card">
            <h4 class="card-title">Фильтр</h4>
            <form>
              <div class="input-group">
                <label class="cat_input" for="date1" style="margin:2px 4px 6px 0px;">с:</label>
                <input class="cat_input" type="date" id="date1" name="date" value="{{ l_d }}" min="1999-08-31" max="2018-12-15"/>
                <label class="cat_input" for="date2" style="margin:2px 4px 6px 0px;">по:</label>
                <input class="cat_input" type="date" id="date2" name="date" value="{{ r_d }}" min="1999-08-31" max="2018-12-15"/>
              </div>
              <div class="form-check" style="margin:4px 0px 2px 0px;">
                <label class="form-check-label"><input class="form-check-input" type="checkbox" id="place_order" value="" {% if order_loc %} checked {% endif %} name="html5"/>Упорядочить по местоположению?</label>
              </div>
              <button class="btn btn-primary" type="submit" onclick="updateForm()" style="margin:4px 0px 2px 0px;">Поиск</button>
            </form>
          </div>
        </div>
      </div>
      <script>
        function updateForm() {
          var left_date = document.getElementById("date1").value;
          var right_date = document.getElementById("date2").value;
          var check_left = new Date(left_date);
          var check_right = new Date(right_date);
          if (check_left.getTime() > check_right.getTime()) {
            alert("Ошибка: неверно выбран диапазон дат.\nУбедитесь, что дата начала не позже даты конца.");
          } else {
            var order = document.getElementById("place_order").checked;
            var data = "" + left_date + "/" + right_date + "/" + order;
            $.post("/process_data/", {'data':data});
          }
        }
      </script>
      <form>
        <div class="row">
          <div class="col">
            <div class="card">
              <h4 class="card-title">Результат запроса</h4>
              <div class="scrollable">
                <table>
                  {% for i in range(strings|length) %}
                  <tr data-unique-id="{{ i }}">
                    <td><a href="#" class="btn btn-light text-wrap" style="width:100%;">{{ strings[i] }}</a></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <script>
          var articles = {{ articles | safe}};
          var places = {{ places | safe }}
          document.querySelectorAll('.btn.btn-light').forEach(item => {
            item.addEventListener('click', event => {
                // Обработчик нажатия на каждую строку
              var uniqueId = parseInt(event.target.closest('tr').dataset.uniqueId, 10);
              var article = articles[uniqueId];
              document.getElementById('field_text').textContent = article;
              var place = places[uniqueId];
              const url = "https://nominatim.openstreetmap.org/search?q=" + place + "&format=geocodejson";
              let result;
              $.get(url, function(data, status) {
                if (data.features.length === 0) {
                  alert("Ошибка: не удалось декодировать выбранный объект.\nВнимание: на карте остался предыдущий объект.");
                } else {
                   result = data.features[0].geometry.coordinates;
                  longitude = result[1];
                  latitude = result[0];
                  document.getElementById('latitude').textContent = latitude;
                  document.getElementById('longitude').textContent = longitude;
                  update([longitude, latitude]);
                }
              });
            });
        });
        </script>
        <div class="row">
          <div class="col">
            <div class="card">
              <h4 class="card-title">Текст статьи</h4>
              <div class="chosen_text" id="field_text">
                <p>Здесь будет отображаться выбранный текст.</p>
                <!-- <p>{{ articles[0] }}</p> -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endblock %}
    {% block maps%}
    <div class="col-sm-8">
      <div class="row">
        <div class="col">
          <div class="card">
            <h4 class="card-title">Карта</h4>
            <div id="myMap" style=""></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <h4 class="card-title">Координаты объекта</h4>
            <span>Ширина: <label id="latitude">37.617774</label></span>
            <span>Долгота: <label id="longitude">55.755836</label></span>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>