{% extends 'temp.html'%} {% block title %} Главная страница {% endblock %} {%
block script %}
<!-- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> -->
<script src="https://api-maps.yandex.ru/2.0-stable/?apikey=66a3cd56-8376-4597-b26d-d3371d845c19&load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
  ymaps.ready(init);
  var myMap, clusterer, geoObjects = [], rectangle;
  function init(coord=[55.76, 37.64]) {
    myMap = new ymaps.Map("myMap", {
      center: coord,
      zoom: 8,
    });

    myMap.behaviors.enable('scrollZoom', {
      maximumDelta: 1,
      speed: 1
    });

    myMap.controls.add('zoomControl', {
      size: 'small',
      zoomDuration: 100
    });

    clusterer = new ymaps.Clusterer({
      preset: 'twirl#blueClusterIcons',
      groupByCoordinates: false,
      clusterDisableClickZoom: true
    });

    let strings = {{ strings | safe }},
        articles = {{ articles | safe }},
        coords = {{ coords | safe }};

    for (let i = 0, len = articles.length; i < len; i++) {
      geoObjects[i] = new ymaps.Placemark(coords[i], {
        balloonContentHeader: strings[i],
        balloonContentBody: articles[i],
        clusterCaption: strings[i]
      }, {
        preset: 'twirl#blueIcon'
      });
    }

    clusterer.add(geoObjects);

    myMap.geoObjects.add(clusterer);
  }

  function show(coords) {
    myMap.setCenter(coords);
  }

</script>
{% endblock%} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col">
          <div class="card">
            <h4 class="card-title">Фильтр</h4>
            <form>
              <div class="input-group">
                <label class="cat_input" for="date1" style="margin:2px 4px 6px 0px;">с:</label>
                <input class="cat_input" type="date" id="date1" name="date" value="{{ l_d }}" min="1999-08-31" max="2018-12-15"/>
                <label class="cat_input" for="date2" style="margin:2px 4px 6px 0px;">по:</label>
                <input class="cat_input" type="date" id="date2" name="date" value="{{ r_d }}" min="1999-08-31" max="2018-12-15"/>
              </div>
              <div class="form-check" style="margin:4px 0px 2px 0px;">
                <label class="form-check-label"><input class="form-check-input" type="checkbox" id="place_order" value="" {% if order_loc %} checked {% endif %} name="html5"/>Упорядочить по местоположению?</label>
              </div>
              <button class="btn btn-primary" type="submit" onclick="updateForm()" style="margin:4px 0px 2px 0px;">Поиск</button>
            </form>
          </div>
        </div>
      </div>
      <script>
        function updateForm() {
          var left_date = document.getElementById("date1").value;
          var right_date = document.getElementById("date2").value;
          var check_left = new Date(left_date);
          var check_right = new Date(right_date);
          if (check_left.getTime() > check_right.getTime()) {
            alert("Ошибка: неверно выбран диапазон дат.\nУбедитесь, что дата начала не позже даты конца.");
          } else {
            var order = document.getElementById("place_order").checked;
            var data = "" + left_date + "/" + right_date + "/" + order;
            $.post("/process_data/", {'data': data});
          }
        }
      </script>
      <form>
        <div class="row">
          <div class="col">
            <div class="card">
              <h4 class="card-title">Результат запроса</h4>
              <div class="scrollable">
                <table>
                  {% for i in range(strings|length) %}
                  <tr data-unique-id="{{ i }}">
                    <td><a href="#" class="btn btn-light text-wrap" style="width:100%;">{{ strings[i] }}</a></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <script>
          document.querySelectorAll('.btn.btn-light').forEach(item => {
            item.addEventListener('click', event => {
              // Обработчик нажатия на каждую кнопку
              let coords = {{ coords | safe }},
                  articles = {{ articles | safe }},
                  uniqueId = parseInt(event.target.closest('tr').dataset.uniqueId, 10);
              let article = articles[uniqueId],
                  point = coords[uniqueId];
              document.getElementById('field_text').textContent = article;
              document.getElementById('latitude').textContent = point[0];
              document.getElementById('longitude').textContent = point[1];
              show(point);
            });
          });
        </script>
        <div class="row">
          <div class="col">
            <div class="card">
              <h4 class="card-title">Текст статьи</h4>
              <div class="chosen_text" id="field_text">
                <p>Здесь будет отображаться выбранный текст.</p>
                <!-- <p>{{ articles[0] }}</p> -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endblock %}
    {% block maps%}
    <div class="col-sm-8">
      <div class="row">
        <div class="col">
          <div class="card">
            <h4 class="card-title">Карта</h4>
            <div id="myMap" style=""></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <h4 class="card-title">Координаты объекта</h4>
            <span>Ширина: <label id="latitude">37.617774</label></span>
            <span>Долгота: <label id="longitude">55.755836</label></span>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>