{% extends 'temp.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Animi laboriosam consequatur atque quod?</li>
<li>Fugiat, a? Reiciendis, rerum minima?</li>
<li>Reprehenderit dolorum nesciunt maiores nisi!</li>
<li>Corrupti odio ipsum ducimus cupiditate.</li>
<li>Dolores numquam eum dolorem laboriosam.</li>
<li>Sint ratione explicabo ipsam deleniti.</li>
<li>Modi unde velit harum itaque!</li>
<li>Molestias maiores itaque eveniet est.</li>
<li>Ratione dignissimos ipsum ea consectetur!</li>
<li>Delectus suscipit a eveniet ut.</li>
<li>Impedit animi deserunt molestiae blanditiis!</li>
<li>Recusandae ullam corrupti ab a!</li>
<li>Consequatur impedit molestias officia fugit.</li>
<li>Numquam corporis laboriosam laborum ipsum!</li>
<li>Voluptate sit voluptates vel doloremque?</li>
<li>Vitae natus facere esse ut.</li>
<li>Quam at explicabo eveniet quod!</li>
<li>Eos sit nihil omnis quos.</li>
<li>Atque, voluptatem delectus? Numquam, quam.</li>
<li>Asperiores assumenda ea blanditiis quibusdam.</li>
<li>Inventore at possimus eligendi maiores?</li>
<li>Expedita eligendi suscipit possimus ad.</li>
<li>Perferendis tempore quas tempora quaerat?</li>
<li>Neque et sit doloremque earum.</li>
<li>Repellendus quasi in sint porro?</li>
<li>Possimus, quo accusantium? Nam, aliquid.</li>
<li>Adipisci in numquam aliquid tempore.</li>
<li>Officia quasi laudantium pariatur possimus!</li>
<li>Laborum ea alias deserunt quos!</li>
<li>Omnis laboriosam harum consectetur facilis.</li>
<li>Illo temporibus odit error sequi.</li>
<li>Explicabo voluptatum harum esse veritatis.</li>
<li>Enim fuga modi perferendis impedit?</li>
<li>Eum ullam at odit pariatur.</li>
<li>Esse, magnam quam. Ex, sunt!</li>
<li>Laudantium totam alias sed odio.</li>
<li>Nisi magnam molestias sunt officiis!</li>
<li>Numquam cupiditate esse rem consequuntur?</li>
<li>Nesciunt aspernatur similique tenetur officia.</li>
<li>Illo corrupti odio porro obcaecati?</li>
<li>Facere dignissimos voluptas tempora facilis?</li>
<li>Nihil consectetur soluta aliquid aliquam!</li>
<li>Enim assumenda asperiores atque? Aut.</li>
<li>Libero nisi quo sed cupiditate.</li>
<li>Provident repellendus nisi culpa animi.</li>
<li>Ut exercitationem eaque voluptates laboriosam!</li>
<li>Qui cumque id accusamus alias!</li>
<li>Error accusantium ducimus qui pariatur.</li>
<li>Sequi in quidem odio accusantium.</li>
<li>Minus eveniet velit ad aspernatur?</li>
<li>Ut quo beatae harum cumque.</li>
<li>A laudantium quis numquam dolores.</li>
<li>Autem necessitatibus facilis earum culpa.</li>
<li>Cupiditate omnis magnam debitis ex.</li>
<li>Impedit facere veniam laborum aperiam!</li>
<li>Fugit minima debitis laboriosam corporis?</li>
<li>A, voluptas. Quaerat, harum repellendus.</li>
<li>Cupiditate alias reprehenderit commodi veritatis?</li>
<li>Quia aperiam fuga quam culpa.</li>
<li>Dolor eaque aperiam architecto laboriosam!</li>
<li>Eligendi nam aut porro. Exercitationem!</li>
<li>Facilis vero dolorum modi veniam.</li>
<li>Modi odio quo numquam sunt!</li>
<li>Sapiente cum reiciendis illo quasi!</li>
<li>Culpa hic voluptatem maiores necessitatibus.</li>
<li>Inventore corrupti fugiat natus doloribus!</li>
<li>Dicta aliquam sed eligendi consequuntur.</li>
<li>Dolore facilis nesciunt autem harum?</li>
<li>Expedita quo ad ipsam ipsa.</li>

{% endblock %}